<div class="breadcrumb">
  <ul class="breadcrumb-list">
    <li class="breadcrumb-list-item"><a href="/">TANPホーム</a></li>
    <span class="breadcrumb-arrow"> > </span>
    <li class="breadcrumb-list-item" class="breadcrmb-current-page"><%= page_name %></li>
  </ul>
</div>