<div class="member-page-header">
  <%= image_tag '/users/mypage_header_icon.png', class: 'member-page-header-icon' %>
  <p class="member-page-header-username">テスト 様のマイページ</p>
  <p class="member-page-header-info">（
    <!-- スペシャル会員とレギュラー会員によって表示を買えるようにする（余裕があれば） -->
    <span class="member-page-header-rank">スペシャル会員</span>
    /
    <!-- 保存されているポイントを表示（余裕があれば） -->
    <span class="member-page-header-point">0 TANPポイント</span>
    ）
  </p>
</div>