<div class="member-page-left">
    <div class="member-page-left-menu-section">
        <h3 class="left-menu-title">メニュー</h3>
        <ul class="left-menu-list">
        <li class="left-menu-list-item"><a href="#">注文履歴</a></li>
        <li class="left-menu-list-item"><a href="#">お気に入り商品</a></li>
        <li class="left-menu-list-item current-page"><a href="#">記念日リマインダー</a></li>
        <li class="left-menu-list-item"><a href="#">クーポン一覧</a></li>
        <li class="left-menu-list-item"><a href="#">ポイントご利用履歴</a></li>
        </ul>
    </div>

    <div class="member-page-left-menu-section">
        <h3 class="left-menu-title">登録情報</h3>
        <ul class="left-menu-list">
        <li class="left-menu-list-item"><a href="#">会員情報</a></li>
        <li class="left-menu-list-item"><a href="#">クレジットカード情報</a></li>
        <li class="left-menu-list-item"><a href="#">パスワード変更</a></li>
        <li class="left-menu-list-item"><a href="#">メルマガ設定/退会</a></li>
        </ul>
    </div>
</div>