<div class="top-page">
  <div class="top-page-inner">
    <div class="top-page-search">
    </div>


    <div class="left-side-menu">
      <h2>シーンから探す</h2>
    </div>


    <div class="top-page-content">
    </div>


    <div class="right-side-menu">
    </div>
  </div>
</div>
