<div class="top-page">
  <div class="top-page-inner">
    <div class="top-page-search">
    </div>

    <div class="top-page-main">
      <div class="left-side-menu">
        <div class="left-side-menu-content">
          <h3 class="left-side-menu-content-title">シーンから探す</h3>
          <ul class="left-side-menu-list">
            <li class="left-side-menu-list-item"><a href="#">誕生日</a></li>
            <li class="left-side-menu-list-item"><a href="#">記念日</a></li>
            <li class="left-side-menu-list-item"><a href="#">母の日</a></li>
            <li class="left-side-menu-list-item"><a href="#">出産祝い</a></li>
            <li class="left-side-menu-list-item"><a href="#">結婚記念日</a></li>
            <li class="left-side-menu-list-item"><a href="#">お祝い</a></li>
            <li class="left-side-menu-list-item"><a href="#">就職祝い</a></li>
            <li class="left-side-menu-list-item"><a href="#">入学祝い</a></li>
            <li class="left-side-menu-list-item"><a href="#">内祝い</a></li>
            <li class="left-side-menu-list-item"><a href="#">お礼</a></li>
            <li class="left-side-menu-list-item"><a href="#">ホワイトデー</a></li>
            <li class="left-side-menu-list-item"><a href="#">パーティー</a></li>
            <li class="left-side-menu-list-item"><a href="#">お歳暮・お中元</a></li>
            <li class="left-side-menu-list-item"><a href="#">敬老の日</a></li>
            <li class="left-side-menu-list-item"><a href="#">バレンタイン</a></li>
            <li class="left-side-menu-list-item"><a href="#">クリスマス</a></li>
            <li class="left-side-menu-list-item"><a href="#">新築祝い</a></li>
          </ul>
        </div>
        <div class="left-side-menu-content">
          <h3 class="left-side-menu-content-title">カテゴリから探す</h3>
          <ul class="left-side-menu-list">
            <li class="left-side-menu-list-item"><a href="#">ギフトカタログ</a></li>
            <li class="left-side-menu-list-item"><a href="#">グルメ・スイーツ</a></li>
            <li class="left-side-menu-list-item"><a href="#">小物・文房具</a></li>
            <li class="left-side-menu-list-item"><a href="#">ファッション</a></li>
            <li class="left-side-menu-list-item"><a href="#">ベビーキッズ</a></li>
            <li class="left-side-menu-list-item"><a href="#">インテリア</a></li>
            <li class="left-side-menu-list-item"><a href="#">キッチン</a></li>
            <li class="left-side-menu-list-item"><a href="#">ビューティー</a></li>
          </ul>
        </div>
        <div class="left-side-menu-content">
          <h3 class="left-side-menu-content-title">ブランドから探す</h3>
          <ul class="left-side-menu-list">
            <li class="left-side-menu-list-item"><a href="#">THE BODY SHOP</a></li>
            <li class="left-side-menu-list-item"><a href="#">kailijumei</a></li>
            <li class="left-side-menu-list-item"><a href="#">CLAYD</a></li>
            <li class="left-side-menu-list-item"><a href="#">FLOWERRiUM®</a></li>
            <li class="left-side-menu-list-item"><a href="#">SOW EXPERIENCE</a></li>
            <li class="left-side-menu-list-item"><a href="#">VITAL MATERIAL</a></li>
            <li class="left-side-menu-list-item"><a href="#">Q-FLA</a></li>
            <li class="left-side-menu-list-item"><a href="#">2-U:トゥーユー</a></li>
            <li class="left-side-menu-list-item"><a href="#">八天堂</a></li>
            <li class="left-side-menu-list-item"><a href="#">日比谷花壇</a></li>
            <li class="left-side-menu-list-item"><a href="#">SKINFOOD</a></li>
            <li class="left-side-menu-list-item"><a href="#">HitoHana</a></li>
          </ul>
        </div>
      </div>

      <div class="center-content">
      </div>

      <div class="right-side-menu">
      </div>
    </div>
  </div>
</div>
