<!-- パンくずリスト -->
<%= render '/preciouspeople/breadcrumb', page_name: '記念日' %>

<div class="precious-day-wrapper">
    <div class="precious-day-inner">
        <div class="precious-day-image">
            <%= image_tag '/users/calender/birthday.jpg' %>
        </div>
        <div class="precious-day-container">
            <div class="precious-day-button">
                <a href="#">削除</a>
            </div>
            <div class="precious-day-button">
                <a href="#">編集</a>
            </div>
        </div>
    </div>
</div>