<!-- パンくずリスト -->
<%= render '/preciouspeople/breadcrumb', page_name: '記念日' %>

<div class="precious-day-wrapper">
    <div class="precious-day-image">
        <%= image_tag '/users/calender/birthday.jpg' %>
    </div>
    <div class="precious-day-container">
        <div class="precious-day-button delete-button">
            <a href="#">削除する</a>
        </div>
        <div class="precious-day-button edit-button">
            <a href="#">編集する</a>
        </div>
    </div>
</div>