// ============================================
// メインコンテンツ
// ============================================
.top-page-main {
  display: flex;
  margin-top: 30px;
}

// ============================================
// 左側のメニュー
// ============================================
.left-side-menu {
  flex-grow: 0;
  width: 180px;
  .left-side-menu-content {
    margin-bottom: 40px;
    .left-side-menu-content-title {
      font-size: 16px;
      font-weight: bold;
      color: #000000;
      margin-top: 0;
      margin-bottom: 0.8em;;
    }
  }
}
.left-side-menu-list {
  padding: 0;
  margin: 0;
  .left-side-menu-list-item {
    font-size: 14px;
    list-style: none;
    margin-bottom: 0.8em;
    a {
      text-decoration: none;
      color: #767676;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}


// ============================================
// メインコンテンツ
// ============================================
.center-content {
  flex-grow: 1;
}

.center-content-section {
  margin-bottom: 45px;
  .center-content-title {
    font-size: 24px;
    font-weight: bold;
    height: 29px;
    margin: 0;
    margin: 0 0 25px 0;
    border-bottom: 1px #EDEDED solid;
  }
}

.center-products {
  display: flex;
  justify-content: space-between;
  .center-products-item {
    width: 185px;
    height: 235px;
    margin-bottom: 20px;
    font-size: 12px;
    transition: 0.5s;
    &:hover {
      opacity: 0.6;
    }
    .product-item-link {
      text-decoration: none;
    }
    img {
      width: 100%;
    }
    .product-category {
      font-weight: normal;
      color: #767676;
      margin: 0;
      margin-bottom: 0.2em;
    }
    .product-title {
      font-weight: bold;
      color: #424242;
      margin: 0;
      height: 38.5px;
      margin-bottom: 0.2em;
    }
    .product-price {
      font-weight: normal;
      color: #424242;
      margin: 0;
      margin-bottom: 0.2em;
    }
  }
}

// ============================================
// 右側のメニュー
// ============================================
.right-side-menu {
  flex-grow: 0;
  width: 245px;
  .right-side-section {
    margin-bottom: 35px;
    .right-side-section-inner {
      width: 210px;
      margin-left: 35px;
    }
    .right-side-section-title {
      font-size: 16px;
      color: #424242;
      border-bottom: 1px solid #E0E0E0;
      padding-bottom: 8px;
      margin-top: 20px;
      margin-bottom: 0;
    }
  }
}

.feature_item {
  text-align: right;
  height: 90px;
  width: 210px;
  transition: 0.5s;
  margin-bottom: 15px;
  &:hover {
    opacity: 0.6;
  }
  a {
    text-decoration: none;
    img {
      width: 210px;
    }
  }
}

.new-product-item {
  border-bottom: 1px solid #E0E0E0;
  padding: 10px 0;
  transition: 0.5s;
  &:hover {
    opacity: 0.6;
  }
  a {
    display: flex;
    text-decoration: none;
  }
  img {
    height: 60px;
    width: 70px;
  }
  .new-product-info {
    padding-left: 8px;
    .new-product-category {
      margin: 0;
      font-size: 10px;
      color: #767676;
    }
    .new-product-title {
      margin: 0;
      font-size: 12px;
      color: #424242;
    }
  }
}

.recommend-article-item {
  padding: 10px 0;
  border-bottom: 1px solid #E0E0E0;
  transition: 0.5s;
  &:hover {
    opacity: 0.6;
  }
  a {
    text-decoration: none;
    display: flex;
  }
  img {
    height: 60px;
    width: 70px;
  }
  .recommend-article-info {
    padding-left: 8px;
    p {
      margin: 0;
      font-size: 12px;
      color: #424242;
    }
  }
}

.official-sns-top {
  a {
    text-decoration: none;
  }
}
.official-sns-instagram {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  img {
    height: 57px;
  }
  .balloon-left {
    display: block;
    position: relative;
    padding: 10px 15px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid #E0E0E0;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: -26px;
      margin-top: -13px;
      border: 13px solid transparent;
      border-right: 13px solid #FFF;
      z-index: 2;
    }
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: -29px;
      margin-top: -14px;
      border: 14px solid transparent;
      border-right: 14px solid #E0E0E0;
      z-index: 1;
    }
    p {
      font-size: 12px;
      color: #424242;
      margin: 0;
    }
  }
}

.official-sns-text {
  font-size: 15px;
  color: #e4405f;
  height: 40px;
  width: 100%;
  border: 1px solid #E0E0E0;
  text-align: center;
  line-height: 40px;
  border-radius: 3px;
  margin-top: 15px;
}

.official-sns-bottom {
  width: 210px;
  margin-top: 30px;
  .official-sns-bottom-inner {
    width: 180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .official-sns-image {
      height: 41px;
      border-radius: 50%;
    }
  }
}