// ------------------------------------------------
// 
// 共通部品
// 
// ------------------------------------------------

// パンくずリスト
.breadcrumb-list {
  display: flex;
  padding: 0;
  margin: 0 0 15px 0;
  .breadcrumb-list-item {
    font-size: 12px;
    list-style: none;
    padding: 0 7px;
    a {
      color: #767676;
      text-decoration: underline;
    }
    &:first-child {
      padding-left: 0;
    }
  }
  .breadcrumb-crrent-page {
    color: #000000;
  }
  .breadcrumb-arrow {
    font-size: 13px;
  }
}


// ------------------------------------------------
// 
// 商品詳細ページ(gifts/show.html.erb)
// 
// ------------------------------------------------

// 商品説明全体
.product-main {
  display: flex;
}

// 商品画像
.product-main-image {
  width: 480px;
  .product-main-image-container {
    height: 480px;
    width: 480px;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #EBE8E4;
    img {
      width: 100%;
    }
  }
}

// 商品説明
.product-main-info {
  width: 544px;
  .product-main-info-inner {
    width: 494px;
    margin-left: 50px;
    padding: 0;
  }
}

.product-main-info {
  .product-title {
    font-size: 20px;
    line-height: 24px;
    color: #000000;
  }
}
.product-brand {
  margin-bottom: 20px;
  .product-brand-link {
    display: flex;
    .product-brand-image {
      height: 35px;
      width: 35px;
      border-radius: 50%;
    }
    .product-brand-name {
      font-size: 14px;
      color: #424242;
      margin: 0;
      padding: 7px 7px;
    }
  }
}

.product-shipping-date-container {
  padding: 8px;
  width: 100%;
  background: #E0E0E0;
  text-align: center;
  margin-bottom: 15px;
  .product-shipping-date {
    margin: 0;
    font-size: 14px;
    color: #000000;
    span {
      font-size: 17px;
      font-weight: bold;
      color: #ff3e67;
    }
  }
}

.product-explan-text {
  font-size: 14px;
  margin: 0;
  line-height: 21px;
}
.product-main-price {
  font-size: 28px;
  font-weight: bold;
  span {
    font-size: 14px;
    font-weight: normal;
    padding-left: 8px;
  }
}
.express-delivery {
  font-size: 14px;
  margin: 0;
  span {
    color: #ff6688;
  }
}
.purchase-button {
  padding: 12px 0 15px 0;
  background-color: #FF698B;
  width: 330px;
  border-radius: 5px;
  .purchase-button-inner {
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    line-height: 22px;
    .select-color-size {
      font-size: 12px;
      margin: 0;
    }
    .purchase-text {
      font-size: 20px;
      margin: 0;
    }
  }
}


// ------------------------------------------------
// 
// ユーザー(users/show.html.erb)
// 
// ------------------------------------------------



