// ------------------------------------------------
// 
// 一覧ページ
// 
// ------------------------------------------------

// 会員ページのヘッダー
.member-page-header {
  height: 40px;
  width: 100%;
  display: flex;
  .member-page-header-icon {
    height: 40px;
    width: 40px;
  }
  .member-page-header-username {
    font-size: 20px;
    line-height: 40px;
    margin: 0;
    margin-left: 10px;
  }
  .member-page-header-info {
    font-size: 16px;
    line-height: 40px;
    margin: 0;
    .member-page-header-point {
      color: #ff8866;
    }
  }
}


// 会員ページのコンテンツ全体
.member-page-contents-wrapper {
  width: 100%;
  display: flex;
}


// 会員ページの左側メニュー
.member-page-left {
  width: 180px;
}

.member-page-left-menu-section {
  padding: 30px 0 20px;
  border-bottom: 1px solid #E0E0E0;
  .left-menu-title {
    font-size: 18px;
    font-weight: normal;
    margin-top: 0;
  }
  .left-menu-list {
    padding: 0;
    margin-top: 15px;
    .left-menu-list-item {
      font-size: 14px;
      list-style: none;
      line-height: 20px;
      padding-left: 5px;
      margin-top: 12px;
      a {
        color: #555555;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .current-page {
      font-weight: bold;
    }
  }
}

// 右側メインコンテンツ
.member-page-right {
  .member-page-right-section {
    margin-left: 30px;
    width: 814px;
  }
}

.member-page-right-section {
  .member-calender-description {
    width: 100%;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 20px;
    .member-calender-description-title {
      font-size: 18px;
      font-weight: bold;
      line-height: 20px;
      color: #ff8866;
      padding: 24px;
      margin: 0;
      text-align: center;
    }
  }
}

.calender-switch {
  margin-bottom: 60px;
  .calender-switch-items {
    height: 40px;
    width: 100%;
    display: flex;
    padding: 0;
    font-size: 15px;
    border: #FF8866 1px solid;
    border-radius: 8px;
    overflow: hidden;
    margin: 0;
    .calender-switch-item {
      list-style: none;
      width: 50%;
      line-height: 40px;
      text-align: center;
      color: #FF8866;
    }
    .is-active {
      color: #FFFFFF;
      background-color: #FF8866;
    }
  }
}

// カレンダー
.calender-panel {
  .calender-panel-items {
    .calender-panel-item {
      display: none;
    }
    .is-show {
      display: block;
    }
  }
}

// 記念日追加ボタン
.calender-panel {
  .calender-panel-items {
    .calender-panel-item {
      .precious-day-add-button {
        display: flex;
        font-size: 15px;
        color: #FFFFFF;
        background-color: #FF8866;
        border-radius: 8px;
        padding: 13px;
        width: 316px;
        text-decoration: none;
        margin: 30px auto 40px;
        justify-content: center;
        transition: 0.5s;
        &:hover {
          opacity: 0.6;
        }
        p {
          margin: 0;
        }
        .add-text {
          font-weight: bold;
        }
        .plus {
          margin-right: 14px;
        }
      }
    }
  }
}


// 記念日タブ
.calender-panel-item {
  .precious-day-calender {
    .precious-day-calender-title {
      font-size: 30px;
      line-height: 45px;
      color: #424242;
      font-weight: bold;
      padding: 4px;
      margin: 0 0 24px;
    }
    .precious-day-calender-cards {
      display: flex;
      flex-wrap: wrap;
      .precious-day-calender-card {
        height: 258px;
        width: 258px;
        margin: 0 20px 34px 0;
        border-radius: 8px;
        overflow: hidden;
        text-decoration: none;
        transition: 0.5s;
        &:hover {
          opacity: 0.6;
        }
        &:nth-child(3n) {
          margin-right: 0;
        }
        img {
          height: 258px;
          width: 258px;
          object-fit: cover;
        }
      }
    }
  }
}

// 大切な人タブ
.precious-person-calender {
  .precious-person-calender-title {
    margin: 0;
  }
}

.precious-person-calender {
  .precious-person-calender-items {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
  }
  .precious-person-calender-item {
    list-style: none;
    a {
      display: flex;
      padding: 12px 0;
      text-decoration: none;
      transition: 0.5s;
      &:hover {
        opacity: 0.6;
      }
      img {
        height: 56px;
        width: 56px;
        object-fit: cover;
        border-radius: 50%;
      }
      p {
        color: #424242;
        font-size: 16px;
        line-height: 56px;
        margin: 0;
        padding: 0 16px;
      }
    }
  }
}


// ------------------------------------------------
// 
// 詳細ページ
// 
// ------------------------------------------------

// 画面上部
.member-calender {
  width: calc(700px - 30px * 2);
  padding: 30px;
  box-shadow: 5px 5px 15px 2px #dbdbdb;
  margin: 50px auto 0;
}

.member-calender {
  .precious-people-header {
    width: 100%;
    position: relative;
    margin-bottom: 30px;
  }
}

.member-calender {
  .three-point-reader {
    position: absolute;
    right: 0;
    width: 20px;
    transition: 0.5s;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}

// ヘッダー部分
.precious-people-header-item {
  width: 90px;
  margin: 0 auto;
  .precious-people-image {
    height: 90px;
    width: 100%;
    margin: 0;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 50%;
      text-align: center;
    }
  }
  .precious-people-name {
    width: 100%;
    font-size: 15px;
    color: #424242;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
  }
}

// ギフトメモ
.gift-memo {
  .gift-memo-title {
    h2 {
      font-size: 16px;
      font-weight: bold;
      color: #424242;
      margin: 0 0 10px;
    }
  }
  .gift-memo-text {
    margin-bottom: 30px;
    textarea {
      border: 1px #E0E0E0 solid;
      width: calc(100% - 10px * 2);
      border-radius: 8px;
      resize: vertical;
      padding: 10px;
      color: #424242;
      outline: none;
    }
  }
}

// 記念日一覧
.precious-day-list {
  .precious-day-list-title {
    font-size: 16px;
    font-weight: bold;
    color: #424242;
    margin: 0 0 10px;
  }
  .precious-day-list {
    margin-bottom: 30px;
  }
}

.precious-day-list {
  .precious-day-list-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
}

.precious-day-list {
  .precious-day-list-image {
    img {
      height: 310px;
      width: 310px;
      object-fit: cover;
      border-radius: 20px;
    }
  }
  .precious-day-event-name {
    font-size: 14px;
    color: #424242;
    margin: 0;
    margin-top: 5px;
  }
  .precious-day-date {
    font-size: 14px;
    color: #767676;
    margin: 0;
    margin-top: 5px;
  }
}

.member-calender {
  .precious-day-add-button {
    width: 316px;
    padding: 13px;
    margin: 60px auto 45px;
    background-color: #FF8866;
    border-radius: 8px;
    transition: 0.5s;
    &:hover {
      opacity: 0.6;
    }
    a {
      display: flex;
      font-size: 15px;
      color: #FFFFFF;
      width: 100%;
      text-decoration: none;
      justify-content: center;
      p {
        margin: 0;
      }
      .add-text {
        font-weight: bold;
      }
      .plus {
        margin-right: 14px;
      }
    }
  }
}