// ------------------------------------------------
// 
// 記念日詳細ページ
// 
// ------------------------------------------------

.precious-day-wrapper {
    width: 702px;
    height: 584px;
    margin: 50px auto 0;
    box-shadow: 5px 5px 15px 2px #dbdbdb;
}


